@mixin ASlideUp {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8) translateY(70%);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0px);
  }
}

@keyframes slide-up-in {
  @include ASlideUp;
}

@-moz-keyframes slide-up-in {
  @include ASlideUp;
}

@-khtml-keyframes slide-up-in {
  @include ASlideUp;
}

@-ms-keyframes slide-up-in {
  @include ASlideUp;
}

@-webkit-keyframes slide-up-in {
  @include ASlideUp;
}

@-o-keyframes slide-up-in {
  @include ASlideUp;
}