@mixin GetColors() {
  @each $key, $value in $color-array {
    &--#{$key} {
      color: map_get($value, "normal");
      border-color: map_get($value, "normal");
    }
  }
}

@mixin GetColorsBg($isModified:'', $isHover: false) {
  $modifier: '--';
  @if ($isModified == false) {
    $modifier: '-';
  }
  @each $key, $value in $color-array {
    &#{$modifier}#{$key} {
      background-color: map_get($value, "normal");
      color: white;
      background-image: none;
      @if ($isHover) {
        &:hover {
          background-image: none;
          background-color: map_get($value, "hover");
        }
      }
    }
  }
}

@mixin LinearGradient($attr...) {
  background-color: rgba(3, 161, 224, .6);
  background: -webkit-gradient(0deg, $attr);
  background: -webkit-linear-gradient(0deg, $attr);
  background: -moz-linear-gradient(0deg, $attr);
  background: -ms-linear-gradient(0deg, $attr);
  background: -o-linear-gradient(0deg, $attr);
}


@mixin Gradient() {
  background-color: #872776;
  @include LinearGradient(linear, left top, right top, from(#872776), to(#352883));
}
