@mixin GetColors() {
  @each $key, $value in $color-array {
    &--#{$key} {
      color: map_get($value, "normal");
      border-color: map_get($value, "normal");
    }
  }
}

@mixin GetColorsBg($isModified:'', $isHover: false) {
  $modifier: '--';
  @if ($isModified == false) {
    $modifier: '-';
  }
  @each $key, $value in $color-array {
    &#{$modifier}#{$key} {
      background-color: map_get($value, "normal");
      color: white;
      background-image: none;
      @if ($isHover) {
        &:hover {
          background-image: none;
          background-color: map_get($value, "hover");
        }
      }
    }
  }
}