$harvey-black: #131111;
$harvey-white: #e0e0e0;
$harvey-red: rgb(191, 14, 8);
$harvey-green: #005f20;
$harvey-blue: rgb(66, 90, 112);
$harvey-blue-2: rgb(102, 120, 138);
$default: #e0e0e0;
$default_hover: #d5d5d5;

$color-white: white;
$color-white_hover: white;

$color-black: 27303f;
$color-black_hover: black;

$color-success: #26a69a;
$color-success_hover: #2bbbad;

$color-primary: #90caf9;
$color-primary_hover: rgb(100, 141, 174);

$color-secondary: #f48fb1;
$color-secondary_hover: rgb(170, 100, 123);

$color-danger: #f62d51;
$color-danger_hover: #f62d51;

$color-info: rgb(1, 182, 245);
$color-info_hover: rgb(100, 141, 174);

$color-disabled: rgba(255, 255, 255, 0.12);
$color-disabled-2: rgba(0, 0, 0, 0.12);

$color-orange: #fa8c15;
$color-orange_hover: #ff851a;

$color-gray: gray;
$color-gray_hover: gray;

$color-mix-purple: linear-gradient(to right, #667eea 0%, #764ba2 100%);
$color-mix-purple_hover: linear-gradient(to right, #667eea 0%, #764ba2 100%);

$color-darken: #1a202e;
$color-darken-gray: #97a6ba;
$color-darken-blue: #003366;
$color-hover: ghostwhite;
$color-black: #27303f;
$color-dark-ofbar: #1A1E21;

$color-featured: #DFC17E;

$color-array: (
        default:(
                normal:$default,
                hover:$default_hover,
        ),
        success:(
                normal:$color-success,
                hover:$color-success_hover,
        ),
        primary:(
                normal:$color-primary,
                hover:$color-primary_hover,
        ),
        secondary:(
                normal:$color-secondary,
                hover:$color-secondary_hover,
        ),
        info:(
                normal:$color-info,
                hover:$color-info_hover,
        ),
        white:(
                normal:$color-white,
                hover:$color-white_hover,
        ),
        orange:(
                normal:$color-orange,
                hover:$color-orange_hover,
        ),
        danger:(
                normal:$color-danger,
                hover:$color-danger_hover,
        ),
        disabled:(
                normal:$color-disabled,
                hover:$color-disabled-2,
        ),
        gray:(
                normal:$color-gray,
                hover:$color-gray_hover,
        ),
        mixPurple:(
                normal:$color-mix-purple,
                hover:$color-mix-purple_hover,
        )
);